html,
body {
	font-family: "Times New Roman", Times, serif, monospace;
	margin: 0;
	padding: 5px;
}

.tm-wrapper a{
	font-family: "Times New Roman", Times, serif, monospace;
	color: inherit;
}

.tm-scn-row {
	word-wrap: break-word;
}

.tm-cmdl {
	position: relative;
	width: 100%;
}

.tm-cmdl-prompt {
	left: 0;
	position: absolute;
	z-index: 3;
}

.tm-cmdl-input {
	background-color: transparent;
	border: none;
	font-family: "Times New Roman", Times, serif, monospace;
	font-size: 0.01rem;
	height: 0.01em;
	left: 0;
	margin: 0;
	resize: none;
	text-indent: 1rem;
	padding: -0.9em 0 0 0;
	position: absolute;
	width: 1em;
	z-index: 0;
}

.tm-cmdl-input:focus {
	border: none;
	outline: none;
	position: absolute;
}

.tm-cmdl-input-show {
	border: none;
	font-family: "Times New Roman", Times, serif, monospace;
	font-size: 1rem;
	min-height: 1.5em;
	left: 0;
	resize: none;
	text-indent: 1rem;
	padding: 0;
	position: absolute;
	width: 100%;
	word-wrap: break-word;
	z-index: 1;
}

.tm-cmdl-input-caret {
	animation: blinker 1s linear infinite;
	height: 1em;
	margin: 0;
	padding: 0;
	position: absolute;
	width: 1ch;
	z-index: 5;
}

@keyframes blinker {
   50% {
       opacity: 0;
   }
}

@media only screen and (max-width: 600px) {
   .body {
       font-size: 0.5rem;
   }
}